.aside {
	border: 1px solid silver;
	.hard-skills,
	.soft-skills {
		margin: 20px;
		.hard-skills-header,
		.soft-skills-header {
			color: #000;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
		}
		.icons-skils-list {
			display: grid;
			grid-template-columns: repeat(3, minmax(70px, 1fr));
			justify-items: center;
			align-items: start;
			gap: 5px;
			padding: 20px;
			margin-top: 15px;
			border-radius: 30px;
			background: rgba(255, 255, 255, 0.3);
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

			.icon-skils {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				max-width: 100%;
				overflow: hidden;
				svg {
					width: 80px;
					height: 80px;
					circle {
						will-change: auto;
						transition: all 850ms ease-in-out;
					}
				}
			}
			.icon-skils span {
				font-style: normal;
				color: #545454;
				font-family: "Montserrat", "Poppins", sans-serif;
				font-style: normal;
				font-weight: 600;
			}
		}
	}
}
