.footer {
	grid-area: footer;

	border-top: 1px solid rgb(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	span {
		color: #000;
		font-family: Poppins;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-align: center;
	}
}
