.header {
	grid-area: header;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	transition: all 0.5s ease;
}
.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 40px;
	margin-top: 20px;
	max-width: $max-width-page;
	width: 100%;

	.lang {
		display: flex;
		margin-left: 10px;
		.lang-active,
		.lang-button:hover {
			background-color: $back-color-active-lang;
			color: white;
		}
	}
	.share-buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-grow: 2;
		justify-content: center;
	}
	.lang-button,
	.icons-share {
		background-color: transparent;
		border: 0;
		border-radius: 6px;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		outline: 0;
		padding: 5px;
		transition: 0.3s;
		color: #000;
		font-family: "Poppins", sans-serif;
		font-style: normal;
		font-weight: 300;
	}

	.lang-button {
		margin: 5px;
	}
	.icons-share {
		font-size: 20px;
		&:hover {
			color: $color-hover-text;
		}
	}
	.aside-burger,
	.menu-burger {
		display: none;
	}
	.aside-burger,
	.menu-burger {
		margin-left: 15px;
		&.active-mobile-menu {
			span {
				&::after {
					top: 18px !important;
				}
				&::before {
					bottom: 18px !important;
				}
			}
		}
	}
	.menu-burger,
	.aside-burger {
		height: 20px;
		width: 20px;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;

		.burger-line {
			display: block;
			width: 100%;
			height: 2px;
			background-color: #000;
			&::after,
			&::before {
				transition: all 0.5s ease;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				height: 2px;
				width: 100%;
				background-color: #000;
			}
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				height: 2px;
				width: 100%;
				background-color: #000;
			}
		}
	}
}

.header-scrolled {
	margin-top: -130px;
}
.fixed-menu {
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	z-index: 5;
	padding-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 5px solid #ec1d25;
	border-bottom: 2px solid rgb(236 29 37 / 33%);
}

.nav {
	flex-grow: 3;
	display: flex;
	justify-content: end;
	position: relative;
	z-index: 1;
	.navigations {
		display: flex;
		flex-direction: row;
		font-family: "Poppins", sans-serif;
		font-style: normal;
		font-weight: 300;
		li {
			list-style: none;
			padding: 10px;
			z-index: 2;
		}
		a {
			text-decoration: none;
			color: #000;
		}
	}
	&.open-menu {
		visibility: visible;
		transform: translateY(0);
	}
	.overlay-nav {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
}

.person {
	grid-area: person;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;

	.person-foto {
		width: 300px;
		height: 300px;
		overflow: hidden;
	}

	.img-responsive {
		object-fit: cover;
		width: 100%;
		height: 100%;
		clip-path: circle(50%);
	}
	.person-info {
		margin: 20px;
		.person-descriptions {
			text-align: center;
			color: #000;
			text-align: center;
			font-family: Poppins;
			font-size: 24px;
			font-style: normal;
			font-weight: 275;
			line-height: normal;
			text-transform: uppercase;
		}
		.person-name {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: center;
			align-items: center;
			.first-name {
				color: #000;
				font-family: Poppins;
				font-size: 38px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
			.second-name {
				color: #000;
				font-family: Poppins;
				font-size: 38px;
				font-style: normal;
				font-weight: 275;
				line-height: normal;
			}
		}
	}
}
