@charset "UTF-8";
/* flex box*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
  background-color: #000;
}

.body-overlay {
  overflow: hidden;
}

.overlay-sidebar-body {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1d1c1c;
  transition: all 0.4s ease;
  z-index: 6;
}

.overlay-sidebar-open {
  visibility: visible;
  opacity: 0.9;
}

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: start;
  position: relative;
}

.container {
  display: grid;
  width: 100%;
  max-width: 1440px;
  grid-template-areas: "header header" "person main" "aside main" "footer footer";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 0 5px;
  border: 1px solid #000;
  background: linear-gradient(183deg, #ffc803 16.42%, #00c2ff 99.73%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  position: relative;
}

.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 10;
  transition: all 0.2s ease-out;
}

.overlay-open {
  opacity: 1;
  visibility: visible;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Thin.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Thin.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-ThinItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-LightItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Medium.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-MediumItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Bold.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-BoldItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-Black.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/dist/Poppins/Poppins-BlackItalic.ttf") format("truetype"), url("../fonts/dist/Poppins/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/dist/Poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/dist/fontello/fontello.eot?85658301");
  src: url("../fonts/dist/fontello/fontello.eot?85658301#iefix") format("embedded-opentype"), url("../fonts/dist/fontello/fontello.woff2?85658301") format("woff2"), url("../fonts/dist/fontello/fontello.woff?85658301") format("woff"), url("../fonts/dist/fontello/fontello.ttf?85658301") format("truetype"), url("../fonts/dist/fontello/fontello.svg?85658301#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85658301#fontello') format('svg');
  }
}
*/
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star:before {
  content: "\e800";
} /* '' */
.icon-github:before {
  content: "\e801";
} /* '' */
.icon-github-circled:before {
  content: "\f09b";
} /* '' */
.icon-file-pdf:before {
  content: "\f1c1";
} /* '' */
.icon-linkedin-squared:before {
  content: "\f30c";
} /* '' */
.icon-linkedin:before {
  content: "\f318";
} /* '' */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Thin.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-ThinItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-Black.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/dist/Montserrat/Montserrat-BlackItalic.ttf") format("truetype"), url("../fonts/dist/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/dist/Montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/dist/Roboto/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/dist/Roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/dist/Roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.header {
  grid-area: header;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 40px;
  margin-top: 20px;
  max-width: 1440px;
  width: 100%;
}
.container-header .lang {
  display: flex;
  margin-left: 10px;
}
.container-header .lang .lang-active,
.container-header .lang .lang-button:hover {
  background-color: #337386;
  color: white;
}
.container-header .share-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 2;
  justify-content: center;
}
.container-header .lang-button,
.container-header .icons-share {
  background-color: transparent;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  padding: 5px;
  transition: 0.3s;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
}
.container-header .lang-button {
  margin: 5px;
}
.container-header .icons-share {
  font-size: 20px;
}
.container-header .icons-share:hover {
  color: #337386;
}
.container-header .aside-burger,
.container-header .menu-burger {
  display: none;
}
.container-header .aside-burger,
.container-header .menu-burger {
  margin-left: 15px;
}
.container-header .aside-burger.active-mobile-menu span::after,
.container-header .menu-burger.active-mobile-menu span::after {
  top: 18px !important;
}
.container-header .aside-burger.active-mobile-menu span::before,
.container-header .menu-burger.active-mobile-menu span::before {
  bottom: 18px !important;
}
.container-header .menu-burger,
.container-header .aside-burger {
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.container-header .menu-burger .burger-line,
.container-header .aside-burger .burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.container-header .menu-burger .burger-line::after, .container-header .menu-burger .burger-line::before,
.container-header .aside-burger .burger-line::after,
.container-header .aside-burger .burger-line::before {
  transition: all 0.5s ease;
}
.container-header .menu-burger .burger-line::after,
.container-header .aside-burger .burger-line::after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.container-header .menu-burger .burger-line::before,
.container-header .aside-burger .burger-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.header-scrolled {
  margin-top: -130px;
}

.fixed-menu {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  z-index: 5;
  padding-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 5px solid #ec1d25;
  border-bottom: 2px solid rgba(236, 29, 37, 0.33);
}

.nav {
  flex-grow: 3;
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 1;
}
.nav .navigations {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
}
.nav .navigations li {
  list-style: none;
  padding: 10px;
  z-index: 2;
}
.nav .navigations a {
  text-decoration: none;
  color: #000;
}
.nav.open-menu {
  visibility: visible;
  transform: translateY(0);
}
.nav .overlay-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.person {
  grid-area: person;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.person .person-foto {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.person .img-responsive {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: circle(50%);
}
.person .person-info {
  margin: 20px;
}
.person .person-info .person-descriptions {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-transform: uppercase;
}
.person .person-info .person-name {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.person .person-info .person-name .first-name {
  color: #000;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.person .person-info .person-name .second-name {
  color: #000;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px transparent;
    box-shadow: 0 0 0 30px transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.button-scroll-top {
  width: 100%;
  position: fixed;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  bottom: 20px;
  transition: all 0.3s ease;
  transform: translateY(100px);
}
.button-scroll-top .container-button-scroll-top {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 0 10px;
  justify-content: end;
}
.button-scroll-top .container-button-scroll-top .up-btn-wrapper {
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  border: 1px solid rgba(2, 2, 2, 0.5);
  object-fit: cover;
  transition: all 0.4s ease;
  animation: pulse 2s infinite;
}
.button-scroll-top .container-button-scroll-top .up-btn-wrapper img {
  opacity: 0.8;
  padding: 3px;
  height: 100%;
  width: 100%;
}
.button-scroll-top .container-button-scroll-top .up-btn-wrapper:hover {
  opacity: 1;
  animation: none;
}

.button-scroll-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.footer {
  grid-area: footer;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer span {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.aside {
  position: relative;
}
.aside .close-mobile-sidebar {
  opacity: 0;
  visibility: hidden;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -8px;
  left: 55px;
}
.aside .close-mobile-sidebar::after, .aside .close-mobile-sidebar::before {
  transition: all 0.5s ease;
}
.aside .close-mobile-sidebar::after {
  content: "";
  position: absolute;
  top: 10px;
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: rotate(45deg);
}
.aside .close-mobile-sidebar::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: rotate(-45deg);
}
.aside .hard-skills,
.aside .soft-skills {
  margin: 20px;
}
.aside .hard-skills .hard-skills-header,
.aside .hard-skills .soft-skills-header,
.aside .soft-skills .hard-skills-header,
.aside .soft-skills .soft-skills-header {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.aside .hard-skills .icons-skils-list,
.aside .soft-skills .icons-skils-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, 1fr));
  justify-items: center;
  align-items: start;
  gap: 5px;
  padding: 20px;
  margin-top: 15px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.aside .hard-skills .icons-skils-list .icon-skils,
.aside .soft-skills .icons-skils-list .icon-skils {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}
.aside .hard-skills .icons-skils-list .icon-skils svg,
.aside .soft-skills .icons-skils-list .icon-skils svg {
  width: 80px;
  height: 80px;
}
.aside .hard-skills .icons-skils-list .icon-skils svg circle,
.aside .soft-skills .icons-skils-list .icon-skils svg circle {
  will-change: auto;
  transition: all 850ms ease-in-out;
}
.aside .hard-skills .icons-skils-list .icon-skils span,
.aside .soft-skills .icons-skils-list .icon-skils span {
  font-style: normal;
  color: #545454;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.aside .lang {
  margin: 20px;
  padding: 20px;
}
.aside .lang .lang-header {
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.aside .lang .lang-list {
  list-style: none;
}
.aside .lang .lang-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.aside .lang .lang-item .lang-item-name {
  text-align: justify;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.4s ease;
}
.aside .lang .lang-item .lang-item-name:hover {
  transform: translateX(10px);
}
.aside .lang .list-level-star {
  list-style: none;
  display: flex;
}
.aside .lang .list-level-star li i {
  color: white;
}
.aside .other .other-skills,
.aside .other .tools {
  margin: 40px 20px;
}
.aside .other .other-skills-header,
.aside .other .tools-header {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.aside .other .other-skills-list,
.aside .other .other-tools-list {
  list-style: none;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 155.714% */
  text-transform: uppercase;
}
.aside .other .other-skills-list li,
.aside .other .other-tools-list li {
  transition: all 0.5s ease;
}
.aside .other .other-skills-list li:hover,
.aside .other .other-tools-list li:hover {
  transform: scale(1.2);
}
.aside .hobbies,
.aside .aside-profile {
  margin: 40px 20px;
}
.aside .hobbies .profile-about,
.aside .aside-profile .profile-about {
  padding: 20px;
  color: #000;
  text-align: justify;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 155.714% */
}
.aside .hobbies .hobbies-header,
.aside .hobbies .aside-profile-header,
.aside .aside-profile .hobbies-header,
.aside .aside-profile .aside-profile-header {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.aside .hobbies .hobbies-list,
.aside .aside-profile .hobbies-list {
  list-style: none;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 155.714% */
  text-transform: uppercase;
}
.aside .hobbies .hobbies-list li,
.aside .aside-profile .hobbies-list li {
  transition: all 0.5s ease;
}
.aside .hobbies .hobbies-list li:hover,
.aside .aside-profile .hobbies-list li:hover {
  transform: scale(1.2);
}
.aside .line {
  display: flex;
  justify-content: center;
}
.aside .line::before {
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
}
.aside .aside-contact {
  margin: 40px 20px;
  text-align: center;
}
.aside .aside-contact .phone-item-header,
.aside .aside-contact .email-item-header,
.aside .aside-contact .social-item-header {
  color: #363636;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.aside .aside-contact .item-value {
  position: relative;
  margin: 10px 0;
}
.aside .aside-contact .item-value::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.97);
  opacity: 0.200000003;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.aside .aside-contact .item-value p {
  position: relative;
  text-align: center;
  display: block;
  z-index: 2;
  color: #000;
}
.aside .aside-contact .item-value p a {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition: all 0.4s ease;
}
.aside .aside-contact .item-value p a:hover {
  transform: scale(1.3);
}

.main {
  border-radius: 10px;
  margin-bottom: 5px;
}
.main .main-header {
  display: flex;
  height: 40px;
}
.main .main-header .main-header-text {
  height: 100%;
  flex-grow: 2;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-header .main-header-text h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
}
.main .main-header .before-main-header-text,
.main .main-header .after-main-header-text {
  flex-grow: 1;
  background-color: #fff;
}
.main .main-header .before-main-header-text {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  border-top-left-radius: 5px;
}
.main .main-header .after-main-header-text {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  border-top-right-radius: 5px;
}
.main .main-content {
  background-color: #fff;
  padding: 30px 40px;
}
.main .main-content .training-header,
.main .main-content .education-header,
.main .main-content .workhistory-header,
.main .main-content .projects-header {
  border-radius: 8px;
  background: #000;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 40px;
}
.main .main-content .training-header h2,
.main .main-content .education-header h2,
.main .main-content .workhistory-header h2,
.main .main-content .projects-header h2 {
  color: #fff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-size: 24px;
}
.main .main-content .training,
.main .main-content .education,
.main .main-content .work-history,
.main .main-content .projects {
  margin: 30px 0;
}
.main .main-content .training-course,
.main .main-content .education-course,
.main .main-content .work-history-list {
  text-align: center;
}
.main .main-content .training-course .training-item,
.main .main-content .training-course .education-item,
.main .main-content .training-course .work-history-item,
.main .main-content .education-course .training-item,
.main .main-content .education-course .education-item,
.main .main-content .education-course .work-history-item,
.main .main-content .work-history-list .training-item,
.main .main-content .work-history-list .education-item,
.main .main-content .work-history-list .work-history-item {
  margin: 30px 0;
}
.main .main-content .training-course .training-item .role-descriptions,
.main .main-content .training-course .education-item .role-descriptions,
.main .main-content .training-course .work-history-item .role-descriptions,
.main .main-content .education-course .training-item .role-descriptions,
.main .main-content .education-course .education-item .role-descriptions,
.main .main-content .education-course .work-history-item .role-descriptions,
.main .main-content .work-history-list .training-item .role-descriptions,
.main .main-content .work-history-list .education-item .role-descriptions,
.main .main-content .work-history-list .work-history-item .role-descriptions {
  margin: 10px 0;
  padding-left: 20px;
}
.main .main-content .training-course .training-item .role-descriptions .role-descriptions-header,
.main .main-content .training-course .education-item .role-descriptions .role-descriptions-header,
.main .main-content .training-course .work-history-item .role-descriptions .role-descriptions-header,
.main .main-content .education-course .training-item .role-descriptions .role-descriptions-header,
.main .main-content .education-course .education-item .role-descriptions .role-descriptions-header,
.main .main-content .education-course .work-history-item .role-descriptions .role-descriptions-header,
.main .main-content .work-history-list .training-item .role-descriptions .role-descriptions-header,
.main .main-content .work-history-list .education-item .role-descriptions .role-descriptions-header,
.main .main-content .work-history-list .work-history-item .role-descriptions .role-descriptions-header {
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main .main-content .training-course .training-item .role-descriptions .role-descriptions-header h4,
.main .main-content .training-course .education-item .role-descriptions .role-descriptions-header h4,
.main .main-content .training-course .work-history-item .role-descriptions .role-descriptions-header h4,
.main .main-content .education-course .training-item .role-descriptions .role-descriptions-header h4,
.main .main-content .education-course .education-item .role-descriptions .role-descriptions-header h4,
.main .main-content .education-course .work-history-item .role-descriptions .role-descriptions-header h4,
.main .main-content .work-history-list .training-item .role-descriptions .role-descriptions-header h4,
.main .main-content .work-history-list .education-item .role-descriptions .role-descriptions-header h4,
.main .main-content .work-history-list .work-history-item .role-descriptions .role-descriptions-header h4 {
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
}
.main .main-content .training-course .training-item .role-descriptions .role-list,
.main .main-content .training-course .education-item .role-descriptions .role-list,
.main .main-content .training-course .work-history-item .role-descriptions .role-list,
.main .main-content .education-course .training-item .role-descriptions .role-list,
.main .main-content .education-course .education-item .role-descriptions .role-list,
.main .main-content .education-course .work-history-item .role-descriptions .role-list,
.main .main-content .work-history-list .training-item .role-descriptions .role-list,
.main .main-content .work-history-list .education-item .role-descriptions .role-list,
.main .main-content .work-history-list .work-history-item .role-descriptions .role-list {
  text-align: left;
}
.main .main-content .training-course .training-item .role-descriptions .role-list li,
.main .main-content .training-course .education-item .role-descriptions .role-list li,
.main .main-content .training-course .work-history-item .role-descriptions .role-list li,
.main .main-content .education-course .training-item .role-descriptions .role-list li,
.main .main-content .education-course .education-item .role-descriptions .role-list li,
.main .main-content .education-course .work-history-item .role-descriptions .role-list li,
.main .main-content .work-history-list .training-item .role-descriptions .role-list li,
.main .main-content .work-history-list .education-item .role-descriptions .role-list li,
.main .main-content .work-history-list .work-history-item .role-descriptions .role-list li {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .main-content .training-course .work-history-item .item-date,
.main .main-content .education-course .work-history-item .item-date,
.main .main-content .work-history-list .work-history-item .item-date {
  text-align: right;
  color: #4d4d4d;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main .main-content .training-course .item-name,
.main .main-content .training-course .item-description,
.main .main-content .training-course .item-date,
.main .main-content .education-course .item-name,
.main .main-content .education-course .item-description,
.main .main-content .education-course .item-date,
.main .main-content .work-history-list .item-name,
.main .main-content .work-history-list .item-description,
.main .main-content .work-history-list .item-date {
  margin: 10px;
}
.main .main-content .training-course .item-location,
.main .main-content .education-course .item-location,
.main .main-content .work-history-list .item-location {
  color: rgba(77, 77, 77, 0.48);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main .main-content .training-course .item-name,
.main .main-content .education-course .item-name,
.main .main-content .work-history-list .item-name {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  margin: 10px;
}
.main .main-content .training-course .item-description,
.main .main-content .education-course .item-description,
.main .main-content .work-history-list .item-description {
  color: #4d4d4d;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.main .main-content .training-course .item-date,
.main .main-content .education-course .item-date,
.main .main-content .work-history-list .item-date {
  color: #4d4d4d;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main .main-content .projects .projects-list-ul {
  padding: 0 20px;
  list-style: none;
  text-align: center;
}
.main .main-content .projects .projects-list-ul .project-item {
  padding: 10px 0;
}
.main .main-content .projects .projects-list-ul .project-item .project-date {
  padding-bottom: 10px;
  color: #4d4d4d;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main .main-content .projects .projects-list-ul .project-item a {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.main .main-content .projects .projects-list-ul .project-item a:hover {
  color: #337386;
}
.main .line {
  display: flex;
  justify-content: center;
}
.main .line::after {
  content: "";
  height: 1px;
  background-color: #000;
  width: 80%;
  opacity: 0.4;
}

@media (max-width: 992px) {
  .header .nav {
    width: 100%;
    justify-content: end;
  }
  .header .share-buttons {
    justify-content: end;
  }
  .aside .hard-skills .icons-skils-list .icon-skils svg,
  .aside .soft-skills .icons-skils-list .icon-skils svg {
    width: 60px;
    height: 60px;
  }
  .aside .hard-skills .icons-skils-list .icon-skils span,
  .aside .soft-skills .icons-skils-list .icon-skils span {
    font-size: 10px;
  }
  .person .person-foto {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "person" "main" "footer";
    grid-template-columns: 1fr;
  }
  .block-aside {
    transition: all 0.3s ease;
    transform: translateX(-1000px);
    position: fixed;
    background: linear-gradient(183deg, #ffc803 16.42%, #00c2ff 99.73%);
    z-index: 10;
    overflow: auto;
    height: 100%;
    width: 80%;
  }
  .block-aside .close-mobile-sidebar {
    opacity: 0.8;
    visibility: visible;
  }
  .header {
    justify-content: space-between;
  }
  .header .aside-burger,
  .header .menu-burger {
    display: flex;
  }
  .person {
    padding: 20px 0;
  }
  .person .person-foto {
    height: 300px;
    width: 300px;
  }
  .nav {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    background-color: #1d1c1c;
    transform: translateY(-200%);
    transition: all 0.7s ease;
  }
  .nav .navigations {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .nav .navigations a {
    color: white;
  }
  .footer {
    border: none;
    padding-bottom: 30px;
  }
}
@media (max-width: 567px) {
  .person .person-info .person-descriptions {
    font-size: 20px;
  }
  .person .person-info .person-name {
    gap: 0;
    padding-bottom: 10px;
  }
  .main .main-content {
    padding: 20px 10px;
  }
  .main .main-content .training-header h2,
  .main .main-content .education-header h2,
  .main .main-content .workhistory-header h2,
  .main .main-content .projects-header h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .header {
    flex-wrap: nowrap;
    border: 0;
  }
  .header .container-header {
    padding: 0;
    flex-wrap: nowrap;
  }
  .header .share-buttons {
    font-size: 12px;
  }
  .header .icons-share,
  .header .lang-button {
    font-size: 12px;
  }
  .person .person-foto {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 320px) {
  .before-main-header-text,
  .after-main-header-text {
    display: none;
  }
  .main-content {
    border-radius: 5px;
  }
}
.preloader {
  position: fixed;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(73, 74, 74);
  background: -moz-linear-gradient(45deg, rgb(73, 74, 74) 0%, rgb(47, 47, 47) 100%);
  background: -webkit-linear-gradient(45deg, rgb(73, 74, 74) 0%, rgb(47, 47, 47) 100%);
  background: linear-gradient(45deg, rgb(73, 74, 74) 0%, rgb(47, 47, 47) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494a4a",endColorstr="#2f2f2f",GradientType=1);
  overflow: hidden;
  transition: all 1s ease;
}

.preloader__wrapp {
  position: relative;
  width: 400px;
  height: 400px;
}

.preloader__one,
.preloader__two {
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.preloader__one {
  animation: spin1 2.3s infinite linear;
  -webkit-animation: spin1 2.3s infinite linear;
}

.preloader__two {
  display: block;
  animation: spin2 2.3s infinite linear;
  -webkit-animation: spin2 2.3s infinite linear;
  transform: rotate(45deg);
}

.one,
.five {
  border-top: 3px solid #80bd01;
}

.two,
.sixt {
  border-right: 3px solid #80bd01;
}

.three,
.seven {
  border-bottom: 3px solid #80bd01;
}

.four,
.eight {
  border-left: 3px solid #80bd01;
}

.one {
  top: -200px;
}

.two {
  right: -200px;
}

.three {
  bottom: -200px;
}

.four {
  left: -200px;
}

.five {
  right: -141px;
  bottom: 141px;
}

.sixt {
  left: 141px;
  top: 141px;
}

.seven {
  left: -141px;
  top: 141px;
}

.eight {
  right: 141px;
  top: -141px;
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
}
@keyframes spin2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
}
.preloader-show {
  opacity: 1;
  visibility: visible;
}

.preloader-display {
  display: flex;
}

.block-main {
  grid-area: main;
}

.block-aside {
  grid-area: aside;
}/*# sourceMappingURL=style.css.map */